<div>
  <input type="text" [(ngModel)]="categoryName" />
  <select [(ngModel)]="parentCategoryId">
    <option value="{{ category.id }}" *ngFor="let category of categoryList">
      {{ category.name }}
    </option>
  </select>
  <button *ngIf="!singleCategory?.id" (click)="NewCategory()">
    New Category
  </button>
  <button *ngIf="singleCategory?.id" (click)="UpdateCategory()">
    Update Category
  </button>
  <ul>
    <li *ngFor="let category of categoryList">
      {{ category.name }}
      <button (click)="SelectCategory(category.id ?? 0)">Seç</button>
      <button (click)="DeleteCategory(category.id ?? 0)">Sil</button>
    </li>
  </ul>
  <table mat-table [dataSource]="categoryList">
    <ng-container matColumnDef="cattable-buttons">
      <th mat-header-cell *matHeaderCellDef>
        <button (click)="openDialogForm()">Yeni</button>
      </th>
      <td mat-cell *matCellDef="let category">
        <button
          mat-button
          color="primary"
          (click)="SelectCategory(category.id ?? 0)"
        >
          Seç
        </button>
        <button mat-button class="" (click)="DeleteCategory(category.id ?? 0)">
          Sil
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="cattable-title">
      <th mat-header-cell *matHeaderCellDef>Kategori</th>
      <td mat-cell *matCellDef="let category">
        {{ category.name }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter</td>
    </tr>
  </table>
</div>
